{{>header}}
    <div class="text-center" style="margin-top: 150px; margin-bottom: 150px;">
    <form action="/create-checkout-session" method="POST">
      <button type="submit">Pay With Card</button>
    </form>
    </div>
{{>footer}}