{{>header}}
    <style>
    .main-heading{
        font-size:30px;
        color:red !important;
    }
    .ratings i{
        color:orange; 
    }
    .user-ratings h6{
        margin-top:2px;
    }
    .colors{
        display:flex;
        margin-top:2px;
    }
    .colors span{
        width:15px;
        height:15px;
        border-radius:50%;
        cursor:pointer;
        display:flex;
        margin-right:6px;
    }
    .colors span:nth-child(1) {
        background-color:red; 
    }
    .colors span:nth-child(2) {
        
        background-color:blue; 
    }
    .colors span:nth-child(3) {
        
        background-color:yellow;
    }
    .colors span:nth-child(4) {
        background-color:purple; 
    }
    .btn-danger{
        font-size:18px;
    }
    </style>

    <div id="content-slider" class="clr mt-2 mb-4">
    <div class="wrap-slider clr">	
    <h1 class="main-title mb-2" ><b>Big Billian Day Sale Start On 23 of September</b></h1>

    <!-- 	========================Thumbnail ControlNav======================================    -->			
        <input type="radio" id="a-1" name="a" >			
        <input type="radio" id="a-2" name="a" >			
        <input type="radio" id="a-3" name="a" >
        <input type="radio" id="a-4" name="a" >
        
        <nav id="main">
        <label for="a-1" class="first"></label>
        <label for="a-2" class="first"></label>
        <label for="a-3" class="first"></label>
        <label for="a-4" class="first"></label>
        <!-- <label for="a-5" class="first"></label> -->
        </nav>
    <!-- 	==============================================================    -->
        <nav id="control">
        <label for="a-1" ></label>
        <label for="a-2" ></label>
        <label for="a-3" ></label>
        <label for="a-4" ></label>
        <!-- <label for="a-5" class="first"></label> -->
        </nav>
    <!-- 	==============================================================    -->

            <!-- 	IMAGE NAVIGATION pic -->
        <span id="b-1" class="th" tabindex="10">
            <img src="https://github.com/lime7/slider/blob/master/images/pic-1.png?raw=true" alt="" id="p-1">
            <div class="title-1">
        <h1>PAK FA T-50</h1>
        <p>Stealth multirole fighter</p>
        <a href="">read more...</a>
            </div>
        </span>

        <span id="b-2" class="th" tabindex="11">
            <img src="https://github.com/lime7/slider/blob/master/images/pic-10.png?raw=true" alt="" id="p-2">
            <div class="title-2">
                <h1>Kamov Ka-50 "Black Shark"</h1>
                <p>Attack helicopter</p>
            <a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg
    ">CLICK HERE</a>
            </div>
        </span>			

        <span id="b-3" class="th" tabindex="12">
            <img src="https://github.com/lime7/slider/blob/master/images/pic-3.png?raw=true" alt="" id="p-3">
            <div class="title-3">
                <h1>Sukhoi Su-27</h1> 
                <p>Air superiority fighter</p> 
                <a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg
    ">read more...</a>
            </div>
        </span>

        <span id="b-4" class="th" tabindex="13">
            <img src="https://github.com/lime7/slider/blob/master/images/pic-4.png?raw=true" alt="" id="p-4">
            <div class="title-4">
                <h1>mil mi-28</h1>
                <p>Attack helicopter</p>
                <a href="">read more...</a>
            </div>
        </span>
        
        <!-- ______________IMAGES_________________________________________ -->						

        <div class="slider">
            <div class="inset">

                <figure>
                    <figcaption class="title-1">
                        <h1>PAK FA T-50</h1>
                        <p>Stealth multirole fighter</p>
                        <a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg
    ">read more...</a>
                    </figcaption>
                    <img src="https://github.com/lime7/slider/blob/master/images/1.png?raw=true" alt="" id="i-1" class="f">						
                </figure>

                <figure>
                    <figcaption class="title-2">
                        <h1>Kamov Ka-50 "Black Shark"</h1>
                        <p>Attack helicopter</p>
                        <a href="">read more...</a>
                    </figcaption>
                    <img src="https://github.com/lime7/slider/blob/master/images/10.png?raw=true" alt="" id="i-2" class="f">						
                </figure>

                <figure>
                    <figcaption class="title-3">
                        <h1>Sukhoi Su-27</h1> 
                        <p>Air superiority fighter</p> 
                        <a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg
    ">read more...</a>
                    </figcaption>
                    <img src="https://github.com/lime7/slider/blob/master/images/3.png?raw=true" alt="" id="i-3" class="f">						
                </figure>

                <figure>
                    <figcaption class="title-4">
                        <h1>mil mi-28</h1>
                        <p>Attack helicopter</p>
                        <a href="">FIND OUT MORE</a>
                    </figcaption>
                    <img src="https://github.com/lime7/slider/blob/master/images/4.png?raw=true" alt="" id="i-4" class="f">						
                </figure>


                <figure>
                    <figcaption class="title-5">
                        <h1>PAK FA T-50</h1>
                        <p>Stealth multirole fighter</p>
                        <a href="">read more...</a>
                    </figcaption>
                    <img src="https://github.com/lime7/slider/blob/master/images/1.png?raw=true" alt="" id="i-5" class="f">						
                </figure>				
            </div>
        </div>					

    </div>		
    </div>
    <section style="background-color: #eee;">
        <div class="container py-5">
            <h4 class="text-center mb-5"><strong>Our Products</strong></h4>
            <div class="row">
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="height d-flex justify-content-center align-items-center">
                <div class="card p-3">
                    <div class="d-flex justify-content-between align-items-center ">
                        <div class="mt-2">
                            <h4 class="text-uppercase">Ikea</h4>
                            <div class="mt-5">
                                <h5 class="text-uppercase mb-0">Blanda Matt</h5>
                                <h1 class="main-heading mt-0">VASE</h1>
                                <div class="d-flex flex-row user-ratings">
                                    <div class="ratings">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    </div>
                                    <h6 class="text-muted ml-1">4/5</h6>
                                </div>
                            </div>
                        </div>
                        <div class="image">
                            <img src="https://i.imgur.com/MGorDUi.png" width="200">
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-2 mb-2">
                        <span>Available colors</span>
                        <div class="colors">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <p>A great option weather you are at office or at home. </p>
                    <button class="btn btn-danger ">Add to cart</button>
                    <a href="/products/product_details/:id"><button style="width: -webkit-fill-available;" class="btn btn-info mt-2">Buy Now</button></a>
                </div>
            </div>
            </div>
            </div>
        </div>
    </section>
    
{{>footer}}