{{>header}}
<div class="container-fluid register mt-0 ">
  <div class="row">
    <div class="col-md-3 register-left">
      <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
      <h3>Welcome</h3>
      <p>You are 30 seconds away from earning your own money!</p>
      <a href="/login" class="btn btn-info">Login</a><br />
    </div>
    <div class="col-md-9 register-right">
      <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link active"
            id="home-tab"
            data-toggle="tab"
            href="#home"
            role="tab"
            aria-controls="home"
            aria-selected="true"
          >Employee</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="profile-tab"
            data-toggle="tab"
            href="#profile"
            role="tab"
            aria-controls="profile"
            aria-selected="false"
          >Hirer</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="home"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <h3 class="register-heading">Apply as a Employee</h3>
          <form action="/" method="POST">
            <div class="row register-form">
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Name *"
                    value=""
                    name = "name"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Email *"
                    value=""
                    name="email"

                  />
                </div>
                <div class="form-group">
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Password *"
                    value=""
                    name="password"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Confirm Password *"
                    value=""
                    name="confirm_password"
                  />
                </div>
                <div class="form-group">
                  <div class="maxl">
                    Gender:
                    <label class="radio inline">
                      <input type="radio" name="gender" value="male" checked />
                      <span> Male </span>
                    </label>
                    <label class="radio inline">
                      <input type="radio" name="gender" value="female" />
                      <span>Female </span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Your Number *"
                    value=""
                    name="number"
                    minlength="10"
                    maxlength="10"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="date"
                    name="dateofbirth"
                    class="form-control"
                    value=""
                  />
                </div>
                <div class="form-group">
                  <select class="form-control" name="applyasa">
                    <option class="hidden" selected disabled>Please select Apply As a</option>
                    <option>Employeer</option>
                    <option>Hirer</option>
                  </select>
                </div>
                <div class="form-group">
                  <input
                    type="file"
                    class="form-control"
                    placeholder="upload image*"
                    value=""
                    name="image"
                  />
                </div>
                <div class="form-group">
                  Intrest Area : 
                  <label for="intrestarea1">C</label>
                  <input type="checkbox"  name="intrestarea1" value="C">
                  <label for="intrestarea2"> C++</label>
                  <input type="checkbox"  name="intrestarea2" value="C++">
                  <label for="intrestarea3">Java</label>
                  <input type="checkbox"  name="intrestarea3" value="C">
                  <label for="intrestarea4"> Javascript</label>
                  <input type="checkbox"  name="intrestarea4" value="C++">
                </div>
                <input type="submit" class="btnRegister" value="Register" />
              </div>
            </div>
          <form>
        </div>
        <div
          class="tab-pane fade show"
          id="profile"
          role="tabpanel"
          aria-labelledby="profile-tab"
        >
          <h3 class="register-heading">Apply as a Hirer</h3>
          <form action="/" method="post">
            <div class="row register-form">
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="First Name *"
                    value=""
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Last Name *"
                    value=""
                  />
                </div>
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Email *"
                    value=""
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    maxlength="10"
                    minlength="10"
                    class="form-control"
                    placeholder="Phone *"
                    value=""
                  />
                </div>

              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Password *"
                    value=""
                  />
                </div>
                <div class="form-group">
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Confirm Password *"
                    value=""
                  />
                </div>
                <div class="form-group">
                  <select class="form-control">
                    <option class="hidden" selected disabled>Please select your
                      Sequrity Question</option>
                    <option>What is your Birthdate?</option>
                    <option>What is Your old Phone Number</option>
                    <option>What is your Pet Name?</option>
                  </select>
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="`Answer *"
                    value=""
                  />
                </div>
                <input type="submit" class="btnRegister" value="Register" />
              </div>
            </div>
          <form>
        </div>
      </div>
    </div>
  </div>

</div>
{{>footer}}